body {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  background-color: #f5f5f5;
  margin: 0;
  backdrop-filter: blur(5px);
  background-size: cover;
}

@font-face {
  font-family: 'Roboto-Medium';
  src: url('fonts/Roboto-Medium.ttf') format('truetype');
}

h1 {
  font-size: 2.5rem;
  font-family: 'Roboto-Medium', sans-serif;
  color: #ff6513;
}

button {
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  outline: none;
  cursor: pointer;
  width: 150px;
  height: 150px;
  border-radius: 10px;
  margin: 1rem;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  overflow: hidden;
  border: 1px white solid;
}

button:before {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 0;
  transition: opacity 0.2s ease-in-out;
}

button:hover:before {
  opacity: 1;
}

button .icon {
  height: 30px;
}

#volume {
  margin: 1rem;
}

.button-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
