<!DOCTYPE html>
<html lang="en">
  <head>
    <title><%= htmlWebpackPlugin.options.title %></title>
  </head>

  <body>
    <h1>Weather sounds</h1>
    <div class="button-container">
      <button class="button" id="button1">
        <img src="assets/icons/sun.svg" alt="Icon 1" class="icon">
      </button>
      <button class="button" id="button2">
        <img src="assets/icons/cloud-rain.svg" alt="Icon 2" class="icon">
      </button>
      <button class="button" id="button3">
        <img src="assets/icons/cloud-snow.svg" alt="Icon 3" class="icon">
      </button>
    </div>
    <input type="range" id="volume" name="volume" min="0" max="1" step="0.1" value="0.5">
  </body>
</html>
